.address-input {
  max-width: 70%;
  font-size: 2em;
  padding: 0.5em;
  color: #000;
}

.search-button {
  height: 71px;
  vertical-align: top;
  padding-left: 2em;
  padding-right: 2em;
}

.form-control {
  font-size: 22px;
  height: 2em;
}

.loading-container {
  text-align: center;
  font-size: 3em;
}

@media (min-width: $screen-md-min) {
  .form-sidebar {
    margin-top: 5em;
  }
}
