$hero-bg-color: #fff;
$hero-text-color: #fff;
$section-bg-color: lighten($brand-primary, 40%);
$footer-bg-color: lighten($brand-primary, 20%);


html, body { 
  height: 100%; margin: 0; padding: 0; 
}

.container-fluid {
  padding: 0;
}

.btn-xl {
  padding: 1em;
  font-size: 24px;
  line-height: 1.333;
  border-radius: 6px;
}

footer {
  background-color: $footer-bg-color;
  padding: 5em 2em;
  color: white;

  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.privacy-policy {
  margin: 1em;
  padding: 1em;
}
