
.jumbotron-hero {
  @extend .jumbotron;
  color: $hero-text-color;
  background-color: transparentize(#000, 0.35);
  margin: 3em auto;
  border-radius: 0;
}

.hero-secondary {
  max-width: 75%;
  margin: auto;
}

.home-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-info {
  background-color: $section-bg-color;
}

.steps {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 1em;
}

.check-value {
  text-align: center;
  padding: 4em 1em;
}

.testimonials {
  padding-top: 1em;
  padding-bottom: 2em;

  .user-block {
    margin-top: 1em;

    .user-image {
      float: left;
      margin-right: 1em;
    }

    .user-info {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.testimonial {
  max-width: 85%;
  margin: 1em auto;
  padding: 2em;
  border-radius: 5px;
  background-color: lighten(#c5deea, 13%);
  font-size: 1.2em;
}