<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>What's your home worth?</h1>
    <h4>The market has shifted, and home values have changed. If you're thinking about selling soon, check your home's value below for free.</h4>
    <div>
      <%= form_tag('/map', method: :get, class: "address-form") do %>
        <div class="form-group">
          <%= text_field_tag :address, nil, class: "address-input" %>
        </div>
        <%= hidden_field_tag :latitude, id: "latitude" %>
        <%= hidden_field_tag :longitude, id: "longitude" %>
        <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
      <% end %>
    </div>
  </div>

</div>

<script>
  var initAutocomplete = function() {
    autocomplete = new google.maps.places.Autocomplete(
      (document.getElementById('address')),
      {types: ['geocode']});

    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace().geometry.location;
      var lat = place.lat();
      var lng = place.lng();
      $('#latitude').val(lat);
      $('#longitude').val(lng); 
    });
  };

  $(document).on('ready', initAutocomplete);
</script>





