<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">  
      <div id="map_canvas"></div>
    </div>
    <div class="col-md-4">
      <h1>Just some stuff</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis totam obcaecati iusto assumenda ut, unde animi labore nulla, laudantium veritatis! Illum recusandae repudiandae ducimus consequatur architecto, temporibus accusamus, expedita voluptatem id iusto commodi amet aliquid perferendis laboriosam perspiciatis nam. Dolore sit maiores nulla accusamus modi earum unde nihil tempora repudiandae.</p>
    </div>
  </div>
</div>

<script>
  var map;
  var mapInit = function() {
    map = new google.maps.Map(document.getElementById('map_canvas'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 4
    });

    var marker = new google.maps.Marker({
      position: {lat: -34.397, lng: 150.644},
      map: map,
      title: 'Test'
    });
  };

  $(document).on('ready', mapInit)
</script>