<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      <nav class="navbar map-navbar">
        <div class="container">
          <a class="navbar-brand" href="/">Home Advisors</a>
        </div>
      </nav>
      <%= react_component 'SignUpForm', address: @address %>  
    </div>
    <div class="col-md-8 col-md-pull-4">
      <div id="map_canvas"></div>
    </div>
  </div>
</div>

<script>
  var latitude = <%= @latitude %>;
  var longitude = <%= @longitude %>;

  var map;
  var mapInit = function() {
    map = new google.maps.Map(document.getElementById('map_canvas'), {
      center: {lat: latitude, lng: longitude},
      zoom: 16,
      scrollwheel: false
    });

    var marker = new google.maps.Marker({
      position: {lat: latitude, lng: longitude},
      map: map,
      title: 'Test'
    });
  };

  $(document).on('ready', mapInit)
</script>