<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center">
        <small>Copyright 2016, Effortless Home Values</small><br />
        <a href="/privacy"><small>Privacy Policy</small></a>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</footer>