<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center">
        <small>Copyright 2016</small><br />
        <a href="#"><small>Privacy Policy</small></a> | <a href="#"><small>Terms</small></a>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
</footer>