<!-- <header>
  <nav class="navbar navbar-prime navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Effortless Home Values</a>
    </div>
  </nav>
</header> -->

<nav class="navbar-prime">
  <a class="navbar-brand" href="#">Effortless Home Values</a>
</nav>
