<header>
  <nav class="navbar navbar-prime navbar-static-top">
    <div class="container text-center">
      <a href="/"><%= image_tag 'logo-circle.svg', height: '150px', style: 'margin-top: 2em;' %></a>
    </div>
  </nav>
</header>

