<!DOCTYPE html>
<html>
  <head>
    <title>RailsGulpAssetPipeline</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHYmi1fhcIzoCLnl6j6edPHMWR-fm0_dA&libraries=places">
    </script>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map_canvas { height: 100vh; }
    </style>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
